@import "tailwindcss";

body {
  color: #ededed;
  background: black;
  /* font-family: Arial, Helvetica, sans-serif; */
}

@theme {
  /* Local Font */
  --font-family-chirp: var(--font-chirp), system-ui, sans-serif;

  /* Breakpoints */
  --breakpoint-xsm: 500px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 690px;
  --breakpoint-lg: 988px;
  --breakpoint-xl: 1078px;
  --breakpoint-xxl: 1265px;

  /* Colors */
  --color-text-gray: #71767b;
  --color-text-gray-light: #e7e9ea;
  --color-border-gray: #2f3336;
  --color-input-gray: #202327;
  --color-icon-blue: #1d9bf0;
  --color-icon-green: #00ba7c;
  --color-icon-pink: #f91880;
  --color-nav-hover: rgba(231, 233, 234, 0.1);
  --color-modal-overlay: rgba(91, 112, 131, 0.4);
  --color-righr-bar-hover: rgb(113, 118, 123);

  /* Border templates */
  --border-popup-menu: 1px solid var(--color-border-gray);
  --shadow-popup-menu: 0 0 6px rgba(255, 255, 255, 0.4);

  /* Font sizes */
  --text-normal: 15px;
}

.popup-menu {
  border: var(--border-popup-menu);
  box-shadow: var(--shadow-popup-menu);
  border-radius: var(--radius-xl);
}
