@import "tailwindcss";

body {
  color: #ededed;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  /* Breakpoints */
  --breakpoint-xsm: 500px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 690px;
  --breakpoint-lg: 988px;
  --breakpoint-xl: 1078px;
  --breakpoint-xxl: 1265px;

  /* Colors */
  --color-text-gray: #71767b;
  --color-text-gray-light: #e7e9ea;
  --color-border-gray: #2f3336;
  --color-input-gray: #202327;
  --color-icon-blue: #1d9bf0;
  --color-icon-green: #00ba7c;
  --color-icon-pink: #f91880;
  --color-nav-hover: rgba(231, 233, 234, 0.1);
}
